header {
  background-color: gray; }
  header nav {
    text-align: center; }
    header nav a {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      color: red;
      font-family: 'Times New Roman', Times, serif; }
      header nav a:hover {
        color: blue; }
