.divnav {
  background-color: #212529; }

.texnav {
  font-family: Times New Roman; }

header {
  background-color: #212529; }

footer {
  display: flex;
  justify-content: center;
  font-family: Times New Roman;
  line-height: 1.5;
  font-style: italic;
  font-weight: bold; }

.bodynosotros {
  background-color: #303235; }

* {
  margin: 0;
  padding: 0; }
