.divnav {
  background-color: #212529; }

.texnav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic; }

.espacios {
  padding-left: 30px; }

header {
  background-color: #212529; }

footer {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-style: italic;
  font-weight: bold;
  font-size: small; }
  footer .derechos {
    background-color: #ff00004c;
    height: 24px; }

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48; }

.aviso {
  padding-top: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-style: italic;
  font-weight: bold;
  font-size: small;
  display: flex;
  justify-content: center; }
  .aviso .avisotext {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #c7c4c4;
    font-size: xx-large;
    border-radius: 10px; }

.margin {
  margin-top: 25px; }

.contactonav {
  padding-top: 50px;
  padding-left: 25px;
  justify-content: left; }
  .contactonav .contactop {
    margin-bottom: 0;
    color: black; }

.contactop {
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 0px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.7rem; }

.contactoa:hover {
  color: red; }

.contactoa {
  text-decoration: none;
  color: black;
  margin-bottom: 1px;
  font-size: 1rem; }

.btnenviar {
  color: white;
  background-color: black;
  margin-bottom: 15px; }

.divnos {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 6rem; }

.titulosnos {
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Bebas Neue', cursive;
  font-size: 3.5rem;
  margin-bottom: 0rem; }

.divnosquintafaz {
  padding: 0rem 5rem 0rem 15rem; }

.divnosservicios {
  padding: 0rem 15rem 0rem 5rem; }

.lineanos {
  border-top: 0.3rem solid;
  margin-bottom: 3rem; }

.lineaser {
  margin-left: 2.9rem; }

.divtextnos {
  display: flex;
  flex-direction: column; }

.divtextservicios {
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center; }

.numnos {
  width: 2.5rem;
  height: 2.5rem; }

.textnos {
  font-size: large;
  padding-top: 0.4rem; }

.lineanosabajo {
  border-top: 0.3rem solid;
  margin: 0rem 15rem 1rem 15rem; }

.textserv {
  margin-top: 1.2rem; }

.numnospadd {
  margin-top: 1rem; }

.numnosmargin {
  margin-bottom: 0.5rem; }

@media screen and (max-width: 990px) {
  .divnos {
    display: grid;
    grid-template-columns: 100%;
    padding: 1rem; }
  .divnosquintafaz {
    padding: 0rem 0rem 0rem 0rem; }
  .divnosservicios {
    padding: 0rem 0rem 0rem 0rem; }
  .titulosnos {
    display: flex;
    justify-content: center; }
  .lineaser {
    margin-left: 0rem; }
  .divtextservicios {
    grid-template-columns: 5% 95%; } }

@media screen and (max-width: 550px) {
  .numnos {
    width: 1.5rem;
    height: 1.5rem; }
  .textnos {
    font-size: small; } }

.divproyecto {
  margin: 1rem 7rem 1rem 7rem; }

.titproyect {
  font-family: 'Bebas Neue', cursive; }

.gridproyect {
  display: grid;
  grid-template-columns: 50% 50%; }

.linea {
  border-bottom: 4px solid;
  margin-right: 5.938rem; }

.divfoto1 {
  transition: all 500ms ease; }

.foto1 {
  width: 25rem;
  height: 16rem;
  transition: all 500ms ease; }

.divfoto1 .foto1:hover {
  transform: scale(1.1); }

.textfoto1 {
  padding-top: 0.7rem;
  margin-bottom: 0rem;
  font-weight: bold; }

.divfoto2 {
  transition: all 500ms ease; }

.foto2 {
  width: 25rem;
  height: 16rem;
  transition: all 500ms ease; }

.divfoto2 .foto2:hover {
  transform: scale(1.1); }

.textfoto2 {
  padding-top: 0.7rem;
  margin-bottom: 0rem;
  font-weight: bold; }

.divfoto3 {
  margin-top: 2rem;
  transition: all 500ms ease; }

.foto3 {
  width: 25rem;
  height: 20rem;
  transition: all 500ms ease; }

.divfoto3 .foto3:hover {
  transform: scale(1.1); }

.textfoto3 {
  padding-top: 0.7rem;
  margin-bottom: 0rem;
  font-weight: bold; }

.divfoto4 {
  margin-top: 2rem;
  transition: all 500ms ease; }

.foto4 {
  width: 25rem;
  height: 16rem;
  transition: all 500ms ease; }

.divfoto4 .foto4:hover {
  transform: scale(1.1); }

.textfoto4 {
  padding-top: 0.7rem;
  margin-bottom: 0rem;
  font-weight: bold; }

.divfoto5 {
  margin-top: 2rem;
  transition: all 500ms ease; }

.foto5 {
  width: 25rem;
  height: 20rem;
  transition: all 500ms ease; }

.divfoto5 .foto5:hover {
  transform: scale(1.1); }

.textfoto5 {
  padding-top: 0.7rem;
  margin-bottom: 0rem;
  font-weight: bold; }

.divfoto6 {
  margin-top: 2rem;
  transition: all 500ms ease; }

.foto6 {
  width: 25rem;
  height: 16rem;
  transition: all 500ms ease; }

.divfoto6 .foto6:hover {
  transform: scale(1.1); }

.textfoto6 {
  padding-top: 0.7rem;
  margin-bottom: 0rem;
  font-weight: bold; }

.divfoto7 {
  margin-top: 2rem;
  transition: all 500ms ease; }

.foto7 {
  width: 25rem;
  height: 16rem;
  transition: all 500ms ease; }

.divfoto7 .foto7:hover {
  transform: scale(1.1); }

.textfoto7 {
  padding-top: 0.7rem;
  margin-bottom: 0rem;
  font-weight: bold; }

.divfoto8 {
  margin-top: 2rem;
  transition: all 500ms ease; }

.foto8 {
  width: 25rem;
  height: 16rem;
  transition: all 500ms ease; }

.divfoto8 .foto8:hover {
  transform: scale(1.1); }

.textfoto8 {
  padding-top: 0.7rem;
  margin-bottom: 0rem;
  font-weight: bold; }

@media screen and (max-width: 860px) {
  .divproyecto {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .gridproyect {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .divfoto2 {
    margin-top: 2rem; } }

.divproyect1 {
  display: flex;
  justify-content: center;
  width: 85%;
  height: 85%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-direction: column; }

.divcarrusel {
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  height: 25%; }

.tproyect1 {
  font-family: 'Bebas Neue', cursive; }

.textproyect1 {
  padding-top: 5rem;
  padding-left: 3rem; }

.divproyect3 {
  display: flex;
  justify-content: center;
  width: 85%;
  height: 85%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-direction: column; }

.divproyect2 {
  display: flex;
  justify-content: center;
  width: 85%;
  height: 85%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-direction: column; }

.divproyect4 {
  display: flex;
  justify-content: center;
  width: 85%;
  height: 85%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-direction: column; }

.divproyect5 {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 75%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-direction: column; }

* {
  margin: 0;
  padding: 0; }
