$fondo-de-color: #212529;
$gris-oscuro: #303235;
$gris-claro: #c7c4c4;
$color-warning: #ff00004c;
$tipo-de-letra: Verdana, Geneva, Tahoma, sans-serif;
$letra-cursiva: italic;
$alinear-al-centro: center;
$espacio30: 30px;