$size: 20px;
$fondo-de-color: #484441;
$ancho: 100%;
$gris-claro: #94918f;
$amarrillo-palido: #f3bf9c;
$h1desktop: 25px;
$h1mobile: 18px;
$parrafodesktop:16px;
$parrafomobile: 12px;
$vista: 1024px;
$tipo-de-letra: Times New Roman;
$alinear-al-centro: center;