@import "../variables/variables";
@import "../sass2/mixins";

.aviso{
    padding-top: 80px;
    @include fuente;
    @include flexibilizar-centrar;
    .avisotext{
        padding-top: $espacio30;
        padding-bottom: $espacio30;
        background-color: $gris-claro;
        font-size: xx-large;
        border-radius: 10px;
    }
}