@import "../variables/variables";
@import "../sass2/mixins";

.margin{
    margin-top: 25px;
    
}
// .divcontact{
//     display: flex;
//     flex-direction: column;
// }
// .divform{
//     justify-content: right
// }
.contactonav{
    @include tabla-nav;
    .contactop{
        @include borde-tabla;
    }
}
.contactop{
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 0px;
    margin-top: 5px;
}
.contactoa{
    @include text-tabla;
    margin-bottom: 1px;
}

.btnenviar{
    color: white;
    background-color: black;
    margin-bottom: 15px;
}
// .fondo-titulo{
//     display: flex;
//     justify-content: center;
// }
// .fondo-titulo{
//     font-size: larger;
//     margin-top: 100px;
//     margin-bottom: 15px;
// }