@import "../variables/variables";
@import "../sass2/mixins";

.margin{
    margin-top: 25px;
    
}
.contactonav{
    @include tabla-nav;
    .contactop{
        @include borde-tabla;
    }
}
.contactop{
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1.7rem;
}
.contactoa:hover{
    color: red;
}
.contactoa{
    @include text-tabla;
    margin-bottom: 1px;
    font-size: 1rem;
    // font-weight: bold;
}

.btnenviar{
    color: white;
    background-color: black;
    margin-bottom: 15px;
}
@media screen and (max-width:990px) {
    .paddcontact{
        margin-left: 0.1rem;
    }
    .paddform{
        padding-top: 0.5rem;
    }
}