@import "../variables/variables";
@import "../sass2/mixins";


.divnos{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 6rem;
}
.titulosnos{
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5rem;
    margin-bottom: 0rem;
}
.divnosquintafaz{
    padding: 0rem 5rem 0rem 15rem;
}
.divnosservicios{
    padding: 0rem 15rem 0rem 5rem;
}
.lineanos{
    border-top: 0.3rem solid;
    margin-bottom: 3rem;
}
.lineaser{
    margin-left: 2.9rem;
}
.divtextnos{
    display: flex;
    flex-direction: column;
}
.divtextservicios{
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
}
// .numeros{
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     align-items: flex-end;
// }
.numnos{
    width: 2.5rem;
    height: 2.5rem;

}
.textnos{
    font-size: large;
    // font-weight:bold;
    padding-top: 1rem;
}
.lineanosabajo{
    border-top: 0.3rem solid;
    margin: 0rem 15rem 1rem 15rem;
}

@media screen and (max-width:990px) {
    .divnos{
        display: grid;
        grid-template-columns: 100%;
    }
    .divnosquintafaz{
        padding: 0rem 0rem 0rem 0rem;
    }
    .divnosservicios{
        padding: 0rem 0rem 0rem 0rem;
    }
    .titulosnos{
        display: flex;
        justify-content: center;
    }
}
