@import "../variables/variables";
@import "../sass2/mixins";


.divnos{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 6rem;
}
.titulosnos{
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5rem;
    margin-bottom: 0rem;
}
.divnosquintafaz{
    padding: 0rem 5rem 0rem 15rem;
}
.divnosservicios{
    padding: 0rem 15rem 0rem 5rem;
}
.lineanos{
    border-top: 0.3rem solid;
    margin-bottom: 3rem;
}
.divtextnos{
    display: flex;
    flex-direction: column;
}
.textnos{
    font-size: larger;
    font-weight:bold;
    padding-top: 1rem;
}
.lineanosabajo{
    border-top: 0.3rem solid;
    margin: 0rem 15rem 0rem 15rem;
}
