@import "../variables/variables";
@import "../sass2/mixins";

.divcarrusel{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 27rem;
}
.divpro{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;

}
.imgquinta{
    width: 8rem;
    height: 5rem;
}
.tproyect1{
    font-family: 'Bebas Neue', cursive;
}
.textproyect1{
    padding-left: 1rem;
}