@import "../variables/variables";
@import "../sass2/mixins";

.divcarrusel{
    // padding-top: 3rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 25%;
}
// .divpro{
//     padding-top: 1rem;
//     display: flex;
//     justify-content: space-between;

// }
// .imgquinta{
//     width: 8rem;
//     height: 5rem;
// }
.tproyect1{
    font-family: 'Bebas Neue', cursive;
}
.textproyect1{
    padding-top: 5rem;
    padding-left: 3rem;
}