@import "../variables/variables";

$nav:(
    color: $fondo-de-color,
    centro: $alinear-al-centro,
    letra: $tipo-de-letra,
    italic: $letra-cursiva,
    espacio: $espacio30,
);

.divnav{
    background-color: map-get($nav, color);
}
.texnav{
    font-family: map-get($nav, letra);
    font-style: map-get($nav, italic);
}
.espacios{
    padding-left: map-get($nav, espacio);
}
