@import "../variables/variables";

@mixin flexibilizar-centrar {
    display: flex;
    justify-content: $alinear-al-centro;    
}
@mixin fuente {
    font-family: $tipo-de-letra;
    line-height: 1.5;
    font-style: italic;
    font-weight: bold;
}
@mixin estilo-de-ancla{
    text-decoration: none;
    font-family: $tipo-de-letra;
}
@mixin tabla-nav{
    padding-top: 50px;
    padding-left: 25px;
    // display: grid;
    // grid-template-columns: repeat(1,100px 250px);
    // grid-template-rows: repeat(4, 70px);
    justify-content: left;
}
@mixin borde-tabla {
    // border: #2a0101 2px solid;
    margin-bottom: 0;
    color: black;
}
@mixin text-tabla {
    text-decoration: none;
    // border: #2a0101 2px solid;
    color: black;
}